h1, h2, h3, h4, h5, h6{
  font-style: normal;
  margin: 0;
  padding: 0;
}

h1{
  font-size: res(36, 48);
  font-weight: 900;
}
h2{
  font-size: res(22, 36);
  font-weight: 700;
}
h3{

}
h4{

}
h5{
  font-size: 20px;
  font-weight: 700;
}
h6{

}

p{
  &:not(:last-child){
    margin-bottom: 15px;
  }
}

ul{
  li{
    font-size: 16px;
    font-weight: 500;
    position: relative;
  }
}

img, svg{
  height: auto;
}